In [4]:
import pandas as pd

ds_job = pd.read_csv("/Users/cherif/Documents/Traveaux/datasets/2012-10/job.csv")
ds_job.head()

,jtid,jobid,submitTime,launchTime,finishTime,status,numMaps,numReduces,finMaps,finReduces,failMaps,failReduces
0,201207231435,4734,1349102009971,1349102024398,1349102177643,0,60,100,60,100,40,11
1,201207231435,4735,1349103033999,1349103045081,1349103141374,0,60,30,60,30,2,0
2,201207231435,4737,1349107470054,1349107481116,1349107514329,1,90,10,2,0,0,0
3,201207231435,4738,1349107665472,1349107676671,1349109302263,0,648,50,648,50,136,0
4,201207231435,4739,1349109335001,1349109346757,1349110171820,1,648,50,102,0,0,0

In [5]:
ds_task = pd.read_csv("/Users/cherif/Documents/Traveaux/datasets/2012-10/task.csv")
ds_task.head()

           jtid  jobid tasktype  taskid      startTime     finishTime  status
0  201207231435   4734        m       0  1349102054493  1349102156626     0.0
1  201207231435   4734        m       1  1349102054495  1349102159622     0.0
2  201207231435   4734        m       2  1349102054503  1349102114569     0.0
3  201207231435   4734        m       3  1349102054506  1349102096544     0.0
4  201207231435   4734        m       4  1349102054512  1349102102348     0.0

In [6]:
ds_task = pd.read_csv("/Users/cherif/Documents/Traveaux/datasets/2012-10/split.csv")
ds_task.head()

           jtid  jobid tasktype  taskid  splitid  rack  hostname
0  201207231435   4734        m       0        0   NaN       103
1  201207231435   4734        m       0        1   NaN       113
2  201207231435   4734        m       0        2   NaN       134
3  201207231435   4734        m       1        0   NaN        84
4  201207231435   4734        m       1        1   NaN       108

In [7]:
ds_task = pd.read_csv("/Users/cherif/Documents/Traveaux/datasets/2012-10/conf.csv")
ds_task.head()

           jtid  jobid  keyname   value
0  201207231435   4734        2    0.80
1  201207231435   4734      286    2048
2  201207231435   4734        3       5
3  201207231435   4734        4  131072
4  201207231435   4734        5      10

In [8]:
ds_task = pd.read_csv("/Users/cherif/Documents/Traveaux/datasets/2012-10/attempt.csv")
ds_task.head()

,jtid,jobid,tasktype,taskid,attempt,startTime,shuffleTime,sortTime,finishTime,status,rack,hostname
0,201207231435,4734,m,0,0,1349102054793,NaN,NaN,1349102163347,2,NaN,52
1,201207231435,4734,m,0,1,1349102084512,NaN,NaN,1349102154814,0,NaN,51
2,201207231435,4734,m,1,0,1349102048866,NaN,NaN,1349102161913,2,NaN,29
3,201207231435,4734,m,1,1,1349102084686,NaN,NaN,1349102158201,0,NaN,67
4,201207231435,4734,m,2,0,1349102054611,NaN,NaN,1349102121129,2,NaN,51

In [9]:
ds_task = pd.read_csv("/Users/cherif/Documents/Traveaux/datasets/2012-10/counter.csv")
ds_task.head()

,jtid,jobid,tasktype,taskid,attempt,countergroup,counter,value
0,201207231435,4734,?,-1,-1,71,72,123
1,201207231435,4734,?,-1,-1,71,73,43
2,201207231435,4734,?,-1,-1,71,74,100
3,201207231435,4734,?,-1,-1,71,81,57
4,201207231435,4734,?,-1,-1,3,75,2735889406

In [1]:
import pandas as pd
import numpy as np

# Example DataFrame
data = {
    'Name': ['Tom', 'Jerry', 'Mickey', 'Tom', 'Jerry'],
    'Category': ['Cat', 'Mouse', 'Mouse', 'Cat', 'Mouse']
}
df = pd.DataFrame(data)

df

     Name Category
0     Tom      Cat
1   Jerry    Mouse
2  Mickey    Mouse
3     Tom      Cat
4   Jerry    Mouse

In [2]:
# List of elements
elements = [f'ds{i}' for i in range(1, 1001)]

elements

['ds1',
 'ds2',
 'ds3',
 'ds4',
 'ds5',
 'ds6',
 'ds7',
 'ds8',
 'ds9',
 'ds10',
 'ds11',
 'ds12',
 'ds13',
 'ds14',
 'ds15',
 'ds16',
 'ds17',
 'ds18',
 'ds19',
 'ds20',
 'ds21',
 'ds22',
 'ds23',
 'ds24',
 'ds25',
 'ds26',
 'ds27',
 'ds28',
 'ds29',
 'ds30',
 'ds31',
 'ds32',
 'ds33',
 'ds34',
 'ds35',
 'ds36',
 'ds37',
 'ds38',
 'ds39',
 'ds40',
 'ds41',
 'ds42',
 'ds43',
 'ds44',
 'ds45',
 'ds46',
 'ds47',
 'ds48',
 'ds49',
 'ds50',
 'ds51',
 'ds52',
 'ds53',
 'ds54',
 'ds55',
 'ds56',
 'ds57',
 'ds58',
 'ds59',
 'ds60',
 'ds61',
 'ds62',
 'ds63',
 'ds64',
 'ds65',
 'ds66',
 'ds67',
 'ds68',
 'ds69',
 'ds70',
 'ds71',
 'ds72',
 'ds73',
 'ds74',
 'ds75',
 'ds76',
 'ds77',
 'ds78',
 'ds79',
 'ds80',
 'ds81',
 'ds82',
 'ds83',
 'ds84',
 'ds85',
 'ds86',
 'ds87',
 'ds88',
 'ds89',
 'ds90',
 'ds91',
 'ds92',
 'ds93',
 'ds94',
 'ds95',
 'ds96',
 'ds97',
 'ds98',
 'ds99',
 'ds100',
 'ds101',
 'ds102',
 'ds103',
 'ds104',
 'ds105',
 'ds106',
 'ds107',
 'ds108',
 'ds109',
 'ds110',
 'ds111',
 'ds112',
 'ds113',
 'ds114',
 'ds115',
 'ds116',
 'ds117',
 'ds118',
 'ds119',
 'ds120',
 'ds121',
 'ds122',
 'ds123',
 'ds124',
 'ds125',
 'ds126',
 'ds127',
 'ds128',
 'ds129',
 'ds130',
 'ds131',
 'ds132',
 'ds133',
 'ds134',
 'ds135',
 'ds136',
 'ds137',
 'ds138',
 'ds139',
 'ds140',
 'ds141',
 'ds142',
 'ds143',
 'ds144',
 'ds145',
 'ds146',
 'ds147',
 'ds148',
 'ds149',
 'ds150',
 'ds151',
 'ds152',
 'ds153',
 'ds154',
 'ds155',
 'ds156',
 'ds157',
 'ds158',
 'ds159',
 'ds160',
 'ds161',
 'ds162',
 'ds163',
 'ds164',
 'ds165',
 'ds166',
 'ds167',
 'ds168',
 'ds169',
 'ds170',
 'ds171',
 'ds172',
 'ds173',
 'ds174',
 'ds175',
 'ds176',
 'ds177',
 'ds178',
 'ds179',
 'ds180',
 'ds181',
 'ds182',
 'ds183',
 'ds184',
 'ds185',
 'ds186',
 'ds187',
 'ds188',
 'ds189',
 'ds190',
 'ds191',
 'ds192',
 'ds193',
 'ds194',
 'ds195',
 'ds196',
 'ds197',
 'ds198',
 'ds199',
 'ds200',
 'ds201',
 'ds202',
 'ds203',
 'ds204',
 'ds205',
 'ds206',
 'ds207',
 'ds208',
 'ds209',
 'ds210',
 'ds211',
 'ds212',
 'ds213',
 'ds214',
 'ds215',
 'ds216',
 'ds217',
 'ds218',
 'ds219',
 'ds220',
 'ds221',
 'ds222',
 'ds223',
 'ds224',
 'ds225',
 'ds226',
 'ds227',
 'ds228',
 'ds229',
 'ds230',
 'ds231',
 'ds232',
 'ds233',
 'ds234',
 'ds235',
 'ds236',
 'ds237',
 'ds238',
 'ds239',
 'ds240',
 'ds241',
 'ds242',
 'ds243',
 'ds244',
 'ds245',
 'ds246',
 'ds247',
 'ds248',
 'ds249',
 'ds250',
 'ds251',
 'ds252',
 'ds253',
 'ds254',
 'ds255',
 'ds256',
 'ds257',
 'ds258',
 'ds259',
 'ds260',
 'ds261',
 'ds262',
 'ds263',
 'ds264',
 'ds265',
 'ds266',
 'ds267',
 'ds268',
 'ds269',
 'ds270',
 'ds271',
 'ds272',
 'ds273',
 'ds274',
 'ds275',
 'ds276',
 'ds277',
 'ds278',
 'ds279',
 'ds280',
 'ds281',
 'ds282',
 'ds283',
 'ds284',
 'ds285',
 'ds286',
 'ds287',
 'ds288',
 'ds289',
 'ds290',
 'ds291',
 'ds292',
 'ds293',
 'ds294',
 'ds295',
 'ds296',
 'ds297',
 'ds298',
 'ds299',
 'ds300',
 'ds301',
 'ds302',
 'ds303',
 'ds304',
 'ds305',
 'ds306',
 'ds307',
 'ds308',
 'ds309',
 'ds310',
 'ds311',
 'ds312',
 'ds313',
 'ds314',
 'ds315',
 'ds316',
 'ds317',
 'ds318',
 'ds319',
 'ds320',
 'ds321',
 'ds322',
 'ds323',
 'ds324',
 'ds325',
 'ds326',
 'ds327',
 'ds328',
 'ds329',
 'ds330',
 'ds331',
 'ds332',
 'ds333',
 'ds334',
 'ds335',
 'ds336',
 'ds337',
 'ds338',
 'ds339',
 'ds340',
 'ds341',
 'ds342',
 'ds343',
 'ds344',
 'ds345',
 'ds346',
 'ds347',
 'ds348',
 'ds349',
 'ds350',
 'ds351',
 'ds352',
 'ds353',
 'ds354',
 'ds355',
 'ds356',
 'ds357',
 'ds358',
 'ds359',
 'ds360',
 'ds361',
 'ds362',
 'ds363',
 'ds364',
 'ds365',
 'ds366',
 'ds367',
 'ds368',
 'ds369',
 'ds370',
 'ds371',
 'ds372',
 'ds373',
 'ds374',
 'ds375',
 'ds376',
 'ds377',
 'ds378',
 'ds379',
 'ds380',
 'ds381',
 'ds382',
 'ds383',
 'ds384',
 'ds385',
 'ds386',
 'ds387',
 'ds388',
 'ds389',
 'ds390',
 'ds391',
 'ds392',
 'ds393',
 'ds394',
 'ds395',
 'ds396',
 'ds397',
 'ds398',
 'ds399',
 'ds400',
 'ds401',
 'ds402',
 'ds403',
 'ds404',
 'ds405',
 'ds406',
 'ds407',
 'ds408',
 'ds409',
 'ds410',
 'ds411',
 'ds412',
 'ds413',
 'ds414',
 'ds415',
 'ds416',
 'ds417',
 'ds418',
 'ds419',
 'ds420',
 'ds421',
 'ds422',
 'ds423',
 'ds424',
 'ds425',
 'ds426',
 'ds427',
 'ds428',
 'ds429',
 'ds430',
 'ds431',
 'ds432',
 'ds433',
 'ds434',
 'ds435',
 'ds436',
 'ds437',
 'ds438',
 'ds439',
 'ds440',
 'ds441',
 'ds442',
 'ds443',
 'ds444',
 'ds445',
 'ds446',
 'ds447',
 'ds448',
 'ds449',
 'ds450',
 'ds451',
 'ds452',
 'ds453',
 'ds454',
 'ds455',
 'ds456',
 'ds457',
 'ds458',
 'ds459',
 'ds460',
 'ds461',
 'ds462',
 'ds463',
 'ds464',
 'ds465',
 'ds466',
 'ds467',
 'ds468',
 'ds469',
 'ds470',
 'ds471',
 'ds472',
 'ds473',
 'ds474',
 'ds475',
 'ds476',
 'ds477',
 'ds478',
 'ds479',
 'ds480',
 'ds481',
 'ds482',
 'ds483',
 'ds484',
 'ds485',
 'ds486',
 'ds487',
 'ds488',
 'ds489',
 'ds490',
 'ds491',
 'ds492',
 'ds493',
 'ds494',
 'ds495',
 'ds496',
 'ds497',
 'ds498',
 'ds499',
 'ds500',
 'ds501',
 'ds502',
 'ds503',
 'ds504',
 'ds505',
 'ds506',
 'ds507',
 'ds508',
 'ds509',
 'ds510',
 'ds511',
 'ds512',
 'ds513',
 'ds514',
 'ds515',
 'ds516',
 'ds517',
 'ds518',
 'ds519',
 'ds520',
 'ds521',
 'ds522',
 'ds523',
 'ds524',
 'ds525',
 'ds526',
 'ds527',
 'ds528',
 'ds529',
 'ds530',
 'ds531',
 'ds532',
 'ds533',
 'ds534',
 'ds535',
 'ds536',
 'ds537',
 'ds538',
 'ds539',
 'ds540',
 'ds541',
 'ds542',
 'ds543',
 'ds544',
 'ds545',
 'ds546',
 'ds547',
 'ds548',
 'ds549',
 'ds550',
 'ds551',
 'ds552',
 'ds553',
 'ds554',
 'ds555',
 'ds556',
 'ds557',
 'ds558',
 'ds559',
 'ds560',
 'ds561',
 'ds562',
 'ds563',
 'ds564',
 'ds565',
 'ds566',
 'ds567',
 'ds568',
 'ds569',
 'ds570',
 'ds571',
 'ds572',
 'ds573',
 'ds574',
 'ds575',
 'ds576',
 'ds577',
 'ds578',
 'ds579',
 'ds580',
 'ds581',
 'ds582',
 'ds583',
 'ds584',
 'ds585',
 'ds586',
 'ds587',
 'ds588',
 'ds589',
 'ds590',
 'ds591',
 'ds592',
 'ds593',
 'ds594',
 'ds595',
 'ds596',
 'ds597',
 'ds598',
 'ds599',
 'ds600',
 'ds601',
 'ds602',
 'ds603',
 'ds604',
 'ds605',
 'ds606',
 'ds607',
 'ds608',
 'ds609',
 'ds610',
 'ds611',
 'ds612',
 'ds613',
 'ds614',
 'ds615',
 'ds616',
 'ds617',
 'ds618',
 'ds619',
 'ds620',
 'ds621',
 'ds622',
 'ds623',
 'ds624',
 'ds625',
 'ds626',
 'ds627',
 'ds628',
 'ds629',
 'ds630',
 'ds631',
 'ds632',
 'ds633',
 'ds634',
 'ds635',
 'ds636',
 'ds637',
 'ds638',
 'ds639',
 'ds640',
 'ds641',
 'ds642',
 'ds643',
 'ds644',
 'ds645',
 'ds646',
 'ds647',
 'ds648',
 'ds649',
 'ds650',
 'ds651',
 'ds652',
 'ds653',
 'ds654',
 'ds655',
 'ds656',
 'ds657',
 'ds658',
 'ds659',
 'ds660',
 'ds661',
 'ds662',
 'ds663',
 'ds664',
 'ds665',
 'ds666',
 'ds667',
 'ds668',
 'ds669',
 'ds670',
 'ds671',
 'ds672',
 'ds673',
 'ds674',
 'ds675',
 'ds676',
 'ds677',
 'ds678',
 'ds679',
 'ds680',
 'ds681',
 'ds682',
 'ds683',
 'ds684',
 'ds685',
 'ds686',
 'ds687',
 'ds688',
 'ds689',
 'ds690',
 'ds691',
 'ds692',
 'ds693',
 'ds694',
 'ds695',
 'ds696',
 'ds697',
 'ds698',
 'ds699',
 'ds700',
 'ds701',
 'ds702',
 'ds703',
 'ds704',
 'ds705',
 'ds706',
 'ds707',
 'ds708',
 'ds709',
 'ds710',
 'ds711',
 'ds712',
 'ds713',
 'ds714',
 'ds715',
 'ds716',
 'ds717',
 'ds718',
 'ds719',
 'ds720',
 'ds721',
 'ds722',
 'ds723',
 'ds724',
 'ds725',
 'ds726',
 'ds727',
 'ds728',
 'ds729',
 'ds730',
 'ds731',
 'ds732',
 'ds733',
 'ds734',
 'ds735',
 'ds736',
 'ds737',
 'ds738',
 'ds739',
 'ds740',
 'ds741',
 'ds742',
 'ds743',
 'ds744',
 'ds745',
 'ds746',
 'ds747',
 'ds748',
 'ds749',
 'ds750',
 'ds751',
 'ds752',
 'ds753',
 'ds754',
 'ds755',
 'ds756',
 'ds757',
 'ds758',
 'ds759',
 'ds760',
 'ds761',
 'ds762',
 'ds763',
 'ds764',
 'ds765',
 'ds766',
 'ds767',
 'ds768',
 'ds769',
 'ds770',
 'ds771',
 'ds772',
 'ds773',
 'ds774',
 'ds775',
 'ds776',
 'ds777',
 'ds778',
 'ds779',
 'ds780',
 'ds781',
 'ds782',
 'ds783',
 'ds784',
 'ds785',
 'ds786',
 'ds787',
 'ds788',
 'ds789',
 'ds790',
 'ds791',
 'ds792',
 'ds793',
 'ds794',
 'ds795',
 'ds796',
 'ds797',
 'ds798',
 'ds799',
 'ds800',
 'ds801',
 'ds802',
 'ds803',
 'ds804',
 'ds805',
 'ds806',
 'ds807',
 'ds808',
 'ds809',
 'ds810',
 'ds811',
 'ds812',
 'ds813',
 'ds814',
 'ds815',
 'ds816',
 'ds817',
 'ds818',
 'ds819',
 'ds820',
 'ds821',
 'ds822',
 'ds823',
 'ds824',
 'ds825',
 'ds826',
 'ds827',
 'ds828',
 'ds829',
 'ds830',
 'ds831',
 'ds832',
 'ds833',
 'ds834',
 'ds835',
 'ds836',
 'ds837',
 'ds838',
 'ds839',
 'ds840',
 'ds841',
 'ds842',
 'ds843',
 'ds844',
 'ds845',
 'ds846',
 'ds847',
 'ds848',
 'ds849',
 'ds850',
 'ds851',
 'ds852',
 'ds853',
 'ds854',
 'ds855',
 'ds856',
 'ds857',
 'ds858',
 'ds859',
 'ds860',
 'ds861',
 'ds862',
 'ds863',
 'ds864',
 'ds865',
 'ds866',
 'ds867',
 'ds868',
 'ds869',
 'ds870',
 'ds871',
 'ds872',
 'ds873',
 'ds874',
 'ds875',
 'ds876',
 'ds877',
 'ds878',
 'ds879',
 'ds880',
 'ds881',
 'ds882',
 'ds883',
 'ds884',
 'ds885',
 'ds886',
 'ds887',
 'ds888',
 'ds889',
 'ds890',
 'ds891',
 'ds892',
 'ds893',
 'ds894',
 'ds895',
 'ds896',
 'ds897',
 'ds898',
 'ds899',
 'ds900',
 'ds901',
 'ds902',
 'ds903',
 'ds904',
 'ds905',
 'ds906',
 'ds907',
 'ds908',
 'ds909',
 'ds910',
 'ds911',
 'ds912',
 'ds913',
 'ds914',
 'ds915',
 'ds916',
 'ds917',
 'ds918',
 'ds919',
 'ds920',
 'ds921',
 'ds922',
 'ds923',
 'ds924',
 'ds925',
 'ds926',
 'ds927',
 'ds928',
 'ds929',
 'ds930',
 'ds931',
 'ds932',
 'ds933',
 'ds934',
 'ds935',
 'ds936',
 'ds937',
 'ds938',
 'ds939',
 'ds940',
 'ds941',
 'ds942',
 'ds943',
 'ds944',
 'ds945',
 'ds946',
 'ds947',
 'ds948',
 'ds949',
 'ds950',
 'ds951',
 'ds952',
 'ds953',
 'ds954',
 'ds955',
 'ds956',
 'ds957',
 'ds958',
 'ds959',
 'ds960',
 'ds961',
 'ds962',
 'ds963',
 'ds964',
 'ds965',
 'ds966',
 'ds967',
 'ds968',
 'ds969',
 'ds970',
 'ds971',
 'ds972',
 'ds973',
 'ds974',
 'ds975',
 'ds976',
 'ds977',
 'ds978',
 'ds979',
 'ds980',
 'ds981',
 'ds982',
 'ds983',
 'ds984',
 'ds985',
 'ds986',
 'ds987',
 'ds988',
 'ds989',
 'ds990',
 'ds991',
 'ds992',
 'ds993',
 'ds994',
 'ds995',
 'ds996',
 'ds997',
 'ds998',
 'ds999',
 'ds1000']

In [4]:
# Define the parameter for the Zipf distribution
a = 2  # This is the parameter for the Zipf distribution. Adjust as necessary.

# Generate Zipf-distributed indices
zipf_indices = np.random.zipf(a, 821132)

zipf_indices

array([ 5,  1, 10, ...,  1,  5,  7])